.add-form {
}
.add-form__header {
  @include font($size: 2.8rem, $height: calc(35 / 28), $weight: 600);
  margin-bottom: 16px;
}
.add-form__form {
  @extend %box-shadow-big;
  width: 332px;
  background-color: $color-background;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  > :last-child {
    margin-top: 8px;
  }
}
