.products {
}
.products__buttons {
  text-align: right;
  margin-bottom: 8px;
}
.products__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  padding-top: 8px;
  > * {
    flex-basis: 32%;
  }
  flex: 1 0 30%;
}
