* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  @extend %font-primary;
  @include font();
  color: $color-text;
}

.wrapper {
  box-sizing: content-box;
  max-width: 1376px;
  padding: 30px;
  margin: auto;
  background-color: $color-background;
  display: flex;
  gap: 16px;
}

.page {
}